# Copia a ~/.config/nodalix-files/conversions.toml

[conversion]
ask_on_extension_change = true
keep_original = true
allow_external_tools = true

[conversion.tools]
imagemagick = "magick"
libreoffice = "libreoffice"
rsvg_convert = "rsvg-convert"
pdftoppm = "pdftoppm"
heif_convert = "heif-convert"
