[Unit]
Description=Automatic Nodalix OS update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nodalix-updater update
