[Unit]
Description=Automatic Nodalix firmware update
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/nodalix-system-update privileged-firmware
