[Desktop Entry]
Name=Monitor del sistema
Comment=Supervisar CPU, memoria, GPU, discos, red y procesos
Exec=missioncenter
Icon=io.missioncenter.MissionCenter
Terminal=false
Type=Application
Categories=System;Monitor;Utility;
StartupNotify=true
Keywords=monitor;sistema;cpu;ram;gpu;memoria;procesos;rendimiento;mission center;nodalix;
