[Desktop Entry]
Name=Visor de registros
Comment=Ver e inspeccionar los registros del sistema
Exec=gnome-logs
Icon=org.gnome.Logs
Terminal=false
Type=Application
Categories=System;Monitor;Utility;LogViewer;
StartupNotify=true
Keywords=logs;registros;visor de registros;journal;systemd;gnome logs;registros del sistema;nodalix;
