[Desktop Entry]
Name=Contraseñas
Comment=Gestor de contraseñas para Nodalix
Exec=bitwarden-desktop %u
Icon=bitwarden
Terminal=false
Type=Application
Categories=Utility;Security;PasswordManager;
StartupNotify=true
Keywords=contraseñas;passwords;gestor de contraseñas;bitwarden;vault;caja fuerte;seguridad;nodalix;
