[Desktop Entry]
Name=Navegador
Comment=Navegar por Internet
Exec=zen %U
Icon=zen
Terminal=false
Type=Application
Categories=Network;WebBrowser;
StartupNotify=true
Keywords=navegador;internet;web;browser;zen;firefox;nodalix;
