[Desktop Entry]
Name=Discos
Comment=Gestionar discos, particiones e imágenes de disco
Exec=gnome-disks
Icon=org.gnome.DiskUtility
Terminal=false
Type=Application
Categories=System;Utility;
StartupNotify=true
Keywords=discos;particiones;almacenamiento;usb;ssd;hdd;gnome disks;nodalix;
